
h2{
    justify-content: center;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

.btn-outline-warning{
    display: flex;
    justify-content: center;
    margin-left: 47%;
    margin-top: -5%;
}

